// Grayscale colors
$color-white :       #fff;
$color-gray100 :     #f3f3f3;
$color-gray200 :     #ececec;
$color-gray300 :     #e0e0e0;
$color-gray400 :     #c4c4c4;
$color-gray500 :     #7d7d7d;
$color-gray600 :     #4b4b4b;
$color-gray700 :     #373737;
$color-gray800 :     #292929;
$color-gray900 :     #1a1a1a;
$color-black :       #000;


// Red
$color-red-very-light :     #dea9a9;
$color-red-light :          #c66969;
$color-red :                #ad2828;
$color-red-dark :           #791c1c;
$color-red-very-dark :      #451010;

// Green
$color-green-very-light :   #b5deaf;
$color-green-light :        #7ec674;
$color-green :              #46ad38;
$color-green-dark :         #317927;
$color-green-very-dark :    #1c4516;

// Blue
$color-blue-very-light :    #90a1da;
$color-blue-light :         #637bcb;
$color-blue :               #2043b4;
$color-blue-dark :          #162f7e;
$color-blue-very-dark :     #0d1b48;

// Yellow
$color-yellow-very-light :  #faf7d2;
$color-yellow-light :       #f3ec90;
$color-yellow :             #e6d820;
$color-yellow-dark :        #a19716;
$color-yellow-very-dark :   #45410a;

// Orange
$color-orange-very-light :  #f5d89e;
$color-orange-light :       #ffc966;
$color-orange :             #ffad16;
$color-orange-dark :        #b17a14;
$color-orange-very-dark :   #754e00;

// Purple
$color-purple-very-light :  #cbbeea;
$color-purple-light :       #8566cd;
$color-purple :             #5125b8;
$color-purple-dark :        #391a81;
$color-purple-very-dark :   #200f4a;

// Pink
$color-pink-very-light :    #eec2ee;
$color-pink-light :         #d872d8;
$color-pink :               #c735c7;
$color-pink-dark :          #8b258b;
$color-pink-very-dark :     #501550;