@use '../abstract' as *;

.board {
    width: 150px;
    min-width: 290px;
    display: flex;
    height: 100%;
    flex-direction: column;

    @include borderStyling(#181818, #242424, 14px);

    margin-inline: auto;
}

.contentFrame {
    position: fixed;
    margin-top: 130px;
    width: 100%;
    padding-inline: 0px;
    padding-block: auto;
    margin-inline: auto;
    height: 75vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.contentFrame > div {
    margin-inline: 25px;
}

.boardHeader {
    height: 131px;
    padding-bottom: 12px;
    border-color: #242424;
    border-bottom-style: solid;
}

.title {
    color: #5A5A5A;
    padding-left: 11px;
    font-weight: 350;
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 6px;
    user-select: none;
}

.taskTitleFrame {
    display:flex;
    width: 100%;
    padding-inline: 11px;
    height: 38px;
}

.taskTitleInput {
    width: 92%;
    flex-grow: 1;
    font-family: system-ui;
    font-size: 20px;
    padding-left: 6px;
    
    @include borderStyling(#1E1E1E, #353535, 5px, "right", "true");
    &:focus{ outline: none; };
    
    color: $color-gray600;
}


.createNewTask {
    width: 40px;
    font-family: system-ui;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include borderStyling(#1E1E1E, #353535, 5px, "left", "true");
    
    transition: 0.2s;
}

.createNewTask:hover{
    background-color: #242424;
    .plusIcon{
        transform:rotate(90deg);
        transition: 0.2s;
    }
}

.createNewTask:active{
    background-color: #313131;
    width: 43px;
}

.plusIcon {
    min-width: 25px;
    filter: brightness(0) saturate(100%) invert(29%) sepia(11%) saturate(0%) hue-rotate(233deg) brightness(77%) contrast(108%);
    transition: 0.1s;
    user-select: none;
}

.cardContainer {
    left: 0px;
    width: auto;
    display: flex;
    height: 720px;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: scroll;
    border-radius: 0px 12px 12px 12px;
}